.sc-message {
  width: 330px;
  margin: auto;
  padding-bottom: 5px;
  display: flex;
}

.sc-message--content {
  width: 100%;
  display: flex;
}

.sc-message--content.sent {
  justify-content: flex-end;
}

.sc-message--content.sent .sc-message--avatar {
  display: none;
}

.sc-message--avatar {
  background-image: url(https://d13yacurqjgara.cloudfront.net/assets/avatar-default-aa2eab7684294781f93bc99ad394a0eb3249c5768c21390163c9f55ea8ef83a4.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-width: 30px;
  min-height: 30px;
  border-radius: 2px;
  align-self: center;
  margin-right: 10px;
}

.sc-message--text {
  padding: 5px 15px;
  border-radius: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: normal;
}

.sc-message--image img{
  margin: 10px 0;
  display: block;
  outline: none;
  width: 200px;
  height: auto;
}

.sc-message--text::first-letter {
  text-transform: capitalize;
}

.sc-message--content.sent .sc-message--text {
  color: white;
  background-color: orange;
  max-width: calc(100% - 120px);
  word-wrap: break-word;
}

.sc-message--content.received .sc-message--text {
  color: #263238;
  background-color: #e9f0f5;
  margin-right: 40px;
}

.sc-message--text.sc-message--action {
  background: #fff !important;
  padding: 5px 0;
  color: #8da1ae !important;
}

.sc-message--emoji {
  font-size: 40px;
}

.sc-message--file {
  background: white;
  border: solid 1px #CCCDD1;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  text-decoration: none;
}

.sc-message--file p {
  margin: 0px 0px 0px 10px;
  color: rgba(86, 88, 103, 0.6);
}

.sc-message--file .sc-user-input--file-icon:hover path {
  fill: rgba(86, 88, 103, 0.3);
}

.sc-button {
  width: 100%;
  font-size: 13px;
  border-radius: 8px;
  margin: 5px 0;
}

.sc-button button {
  width: 100%;
  font-size: 13px;
  background: #a4b4bf;
  border: none;
  padding: 0;
  border-radius: 9px;
}
.sc-button button:hover {
  background: orange;
  color: #fff;
}

@media (max-width: 450px) {
  .sc-message {
    width: 80%;
  }
}
